html {
  background-color: #0f1229;
  text-align: center;
}

.text-div {
  margin: 5% 52% 0 5%;
  overflow: hidden;
  background-color: #351c75;
}

.image {
  float: right;
  margin-top: -50px;
  outline: 225px solid rgba(103, 78, 167, 0.5) !important;
  outline-offset: -225px;
}

h1 {
  color: white;
}

h2 {
  color: white;
}


p {
  color: #a9a9a9;
}

.bottom-numbers {
  margin-top: 50px;
  overflow: hidden;
  background-color: #351c75;
}

.ten-k {
  margin-left: 8%;
  float: left;
}

.three-fourteen {
  margin-left: 15%;
  float: left;
}

.twelve-mill {
  float: left;
  margin-left: 15%;
}
