html {
  background-color: #0f1229;
  text-align: center;
}

.main-div {
  overflow: hidden;
  background-color: #351c75;
  border-radius: 5px;
  margin: 5%;
}

.text-div {
  margin: 3% 60% 0 5%;
  overflow: hidden;
}

.image {
  float: right;
  margin-top: -50px;
  outline: 225px solid rgba(103, 78, 167, 0.5);
  outline-offset: -225px;
}

h1 {
  color: white;
  font-size: 225%;
  font-family: sans-serif;
}

h2 {
  color: white;
  text-align: left;
}

.par {
  line-height: 1.5;
  text-align: left;
}

p {
  color: #999;
}

span {
  color: #8e7cc3;
}

.bottom-numbers {
  overflow: hidden;
}

.ten-k {
  margin-left: 10%;
  float: left;
  margin-top: 10px;
}

.three-fourteen {
  margin-left: 10%;
  float: left;
  margin-top: 10px;
}

.twelve-mill {
  float: left;
  margin-left: 10%;
  margin-top: 10px;
}

.companies {
  margin-top: -15px;
  text-align: left;
  font-size: 75%;
}

.templates {
  margin-top: -15px;
  text-align: left;
  font-size: 75%;
}

.queries {
  margin-top: -15px;
  text-align: left;
  font-size: 75%;
}
